<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/base :: commonHead(_,_)"></head>
<link rel="stylesheet" th:href="@{/js/jconfirm/jquery-confirm.min.css}">
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="admin/base :: commonMenu"></aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header th:replace="admin/base :: commonHeader"></header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-primary m-r-5 example-p-3" href="#!"><i class="mdi mdi-plus"></i>新增</a>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>友链标题</th>
                                            <th>友链域名地址</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="friendLink: ${friendLinks}">
                                        <tr>
                                            <td th:text="${friendLink.id}">1</td>
                                            <td th:text="${friendLink.siteName}">第01章 天涯思君不可忘</td>
                                            <td th:text="${friendLink.siteDomain}">金庸</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default example-p-2"
                                                       href="#!" title="编辑"
                                                       data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default" id="example-error-notify"
                                                       th:onclick="clickDeleteMenu([[${friendLink.id}]])"
                                                       title="删除"
                                                       data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                                                </div>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </main>
        <!--End 页面主要内容-->
        </aside>
    </div>
</div>
<footer th:replace="admin/base :: commonFooter"></footer>
<!--消息通知-->
<script type="text/javascript">

    function clickDeleteMenu(id) {
        lightyear.loading('show');
        // 假设ajax提交操作
        $.ajax({
            type: "DELETE",
            url: "/admin/friend_link/delete/" + id,
            contentType: "application/json",
            dataType: "json",
            timeout: 50000,
            data: JSON.stringify({"id": id}),
            async: false,
            success: function (data) {
                lightyear.loading('show');
                // 假设ajax提交操作
                if (data.code === 1) {
                    setTimeout(function () {
                        lightyear.loading('hide');
                        lightyear.url("/admin/friend_link/list");  // 先指定跳转链接
                        lightyear.notify('删除成功，页面即将刷新', 'success', 300);
                    }, 1e3)
                } else {
                    setTimeout(function () {
                        lightyear.loading('hide');
                        lightyear.notify(data.msg, 'warning', 100);
                    }, 1e3)
                }

            },
            error: function (err) {
                setTimeout(function () {
                    lightyear.loading('hide');
                    lightyear.notify('服务器错误，请稍后再试~', 'danger', 100);
                }, 1e3)
            }
        });
    }
</script>
<!--<script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/lightyear.js}"></script>-->
<!--对话框-->
<!--<script th:src="@{/js/jconfirm/jquery-confirm.min.js}"></script>-->
<script type="text/javascript">
    $('.example-p-3').on('click', function () {
        $.confirm({
            title: '新增友链',
            content: '' +
                '<form action="" class="formName">' +
                '<div class="form-group">' +
                '<label>域名名称</label>' +
                '<input type="text" placeholder="域名名称" class="siteName form-control" required />' +
                '<label>域名地址</label>' +
                '<input type="text" placeholder="域名地址" class="siteDomain form-control" required />' +
                '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: '提交',
                    btnClass: 'btn-blue',
                    action: function () {
                        lightyear.loading('show');

                        var data = {
                            "siteName": this.$content.find('.siteName').val(),
                            "siteDomain": this.$content.find('.siteDomain').val(),
                        }

                        // 假设ajax提交操作
                        $.ajax({
                            type: "POST",
                            url: "/admin/friend_link/add",
                            contentType: "application/json",
                            dataType: "json",
                            timeout: 50000,
                            data: JSON.stringify(data),
                            async: false,
                            success: function (data) {
                                lightyear.loading('show');
                                // 假设ajax提交操作
                                setTimeout(function () {
                                    lightyear.loading('hide');
                                    lightyear.url("/admin/friend_link/list");  // 先指定跳转链接
                                    if (data.code === 1) {
                                        lightyear.notify(data.msg + '，页面即将刷新', 'success', 1000);
                                    } else {
                                        lightyear.notify(data.msg, 'warning', 400);
                                    }
                                }, 1e3)
                            },
                            error: function (err) {
                                setTimeout(function () {
                                    lightyear.loading('hide');
                                    lightyear.notify('服务器错误，请稍后再试~', 'danger', 100);
                                }, 1e3)
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消'
                },
            },
            onContentReady: function () {
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    });
    $('.example-p-2').on('click', function () {
        // 获取点击标签
        var parentNode = this.parentNode.parentNode.parentNode;
        var array = parentNode.getElementsByTagName("td");

        $.confirm({
            title: '修改友链',
            content: '' +
                '<form action="" class="formName">' +
                '<div class="form-group">' +
                '<input type="text" value="' + array[0].innerText + '" class="id form-control" required style="display:none" />' +
                '<label>域名名称</label>' +
                '<input type="text" placeholder="域名名称" value="' + array[1].innerText + '" class="siteName form-control" required />' +
                '<label>域名地址</label>' +
                '<input type="text" placeholder="域名地址" value="' + array[2].innerText + '"  class="siteDomain form-control" required />' +
                '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: '提交',
                    btnClass: 'btn-blue',
                    action: function () {
                        lightyear.loading('show');
                        var data = {
                            "id": this.$content.find('.id').val(),
                            "siteName": this.$content.find('.siteName').val(),
                            "siteDomain": this.$content.find('.siteDomain').val(),
                        }

                        // 假设ajax提交操作
                        $.ajax({
                            type: "PUT",
                            url: "/admin/friend_link/update",
                            contentType: "application/json",
                            dataType: "json",
                            timeout: 50000,
                            data: JSON.stringify(data),
                            async: false,
                            success: function (data) {
                                lightyear.loading('show');
                                // 假设ajax提交操作
                                setTimeout(function () {
                                    lightyear.loading('hide');
                                    lightyear.url("/admin/friend_link/list");  // 先指定跳转链接
                                    if (data.code === 1) {
                                        lightyear.notify(data.msg + '，页面即将刷新', 'success', 1000);
                                    } else {
                                        lightyear.notify(data.msg, 'warning', 400);
                                    }
                                }, 1e3)
                            },
                            error: function (err) {
                                setTimeout(function () {
                                    lightyear.loading('hide');
                                    lightyear.notify('服务器错误，请稍后再试~', 'danger', 100);
                                }, 1e3)
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消'
                },
            },
            onContentReady: function () {
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    });
</script>
</body>
</html>